.clappr-nerd-stats.container {
  position: absolute;
  display: inline-block;
  top: 2em;
  left: 2em;
  padding: 5px 5px 5px 5px;
  margin: 0;
  line-height: 20px;
  font-size: 11px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 1000;
  overflow: auto;
  max-height: 300px;
  min-width: 240px;
  max-width: 75%;
}

.clappr-nerd-stats.container ul {
  display: inline-block;
  float: left;
  padding: 5px 5px 5px 5px;
  min-width: 240px;
  width: 33.3333%;
}

.clappr-nerd-stats.container ul, li {
  list-style-type: none;
}

.clappr-nerd-stats.container li:nth-child(2n) {
  background: hsla(0, 0%, 100%, 0.15);
}

.clappr-nerd-stats.container li {
  padding: 0 5px;
  text-align: left;
}

.clappr-nerd-stats.container li.title {
  text-align: center;
  font-weight: bold;
}

.clappr-nerd-stats.container li div {
  padding-left: 5px;
  margin: 0;
  float: right;
}

.clappr-nerd-stats.icon-show-stats a {
  z-index: 1000;
  position: absolute;
  float: right;
  color: white;
  display: none;
}

.clappr-nerd-stats.icon-show-stats.top-right a {
  display: block;
  top: 5px;
  right: 10px;
}

.clappr-nerd-stats.icon-show-stats.top-left a {
  display: block;
  top: 5px;
  left: 10px;
}

.clappr-nerd-stats.icon-show-stats.bottom-right a {
  display: block;
  right: 10px;
  bottom: 5px;
}

.clappr-nerd-stats.icon-show-stats.bottom-left a {
  display: block;
  bottom: 5px;
  left: 10px;
}
